#accelerometer {
    position: absolute;
    bottom: 0;

}

#ajax {
	position: relative;
	top: 30px;
}

.skipbtn {
	float: right;
	padding-right: 30px;
}

.navigation {
	position: absolute;
	padding-bottom: 10px;
	width: 100%;
	bottom: 0;
}